* {
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
  .parent {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  
  .right {
    width: 50%;
    background-color: #1241e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .left {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
  }
  
  .left h1 {
    color: #1241e8;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 35px;
  }
  
  .left h2 {
    font-family: 'Lato', sans-serif;
    margin-top: 3px;
    font-size: 35px;
    color: rgb(33, 33, 33);
    font-weight: 900;
  }
  
  .left p {
    margin-top: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: rgb(31, 31, 31);
  }
  
  form {
    padding-top: 30px;
  }
  
  form p {
    padding-bottom: 8px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
  }
  
  form input {
    height: 40px;
    width: 50%;
    border: 0.3px solid rgb(96, 96, 96);
    border-radius: 2px;
    padding-left: 10px;
    font-family: 'Lato', sans-serif;
  }
  
  .dropdown {
    margin-top: 25px;
  }
  
  select {
    height: 40px;
    width: 51.5%;
    padding-left: 10px;
  }
  
  .button {
    background-color: rgb(29, 29, 29);
    color: white;
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }
  
  .login {
    padding-top: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
  }
  
  .login span {
    color: #1241e8;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
  }
  
  .right img {
    width: 80%;
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .right h1 {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
  }
  
  .right p {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .toast {
    background-color: rebeccapurple;
  }
  